name: "Build"
on:
  workflow_dispatch: 
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target: [aarch64-windows-gnu,x86_64-windows-gnu,aarch64-linux-musl,x86_64-linux-musl,x86_64-macos-none,aarch64-macos-none]
    runs-on: ubuntu-latest
    name: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - run: zig build -Dtarget=${{ matrix.target }} --prefix out/
      - uses: actions/upload-artifact@v4
        with:
          name: vma-${{ matrix.target }}.zip
          path: 'out/'
          
